$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Nunito');


$lightpink: #f9f0f1;
$purple: #774860;
$grey-green: #ced7ce;
$spade: #809c95;
$blue: #617493;
$green: #809c95;
$light-green: #bed5b8;
$light-blue: #cedae7;

body {
  background-color: $lightpink;
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
}

.signindiv {
  height: 60px;
}
.sign-in {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;

  input {
    border-radius: 5px;
    height: 30px;
    border: 1px solid $grey-green;
    padding-left: 5px;
    margin: 3px;
    letter-spacing: .75px;
    width: 230px;
  }
}

.change-pswd {
  position: absolute;
  right: 0;
  top: 30px;
  margin: 5px;

  input {
    border-radius: 5px;
    height: 30px;
    border: 1px solid $grey-green;
    padding-left: 5px;
    margin: 3px;
    letter-spacing: .75px;
    width: 200px;
  }
}

.sign-up {
  padding: 10px;
  margin: auto;
  width: 300px;

  input {
    border-radius: 5px;
    height: 30px;
    border: 1px solid $grey-green;
    padding-left: 5px;
    margin: 3px;
    letter-spacing: .75px;
    width: 250px;
  }
}

  .auth-header {
    width: 250px;
    font-size: 20px;
    text-align: center;
  }

.auth-input {
  width: 200px;
}

.page-title {
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 70px;

  span {
    color: $spade;
    font-size: 55px;
  }
}

.sign-in-auth-msg-box {
  font-size: 15px;
  padding-left: 10px;
}

.sign-up-auth-msg-box {
  font-size: 15px;
  padding-left: 10px;
}

.sign-in-as {
  position: absolute;
  right: 140px;
  top: 0;
}

.sign-out {
  position: absolute;
  right: 10px;
  top: 0;

  input {
    border-radius: 5px;
    height: 30px;
    border: 1px solid $grey-green;
    letter-spacing: .75px;
    width: 100px;
    margin-top: 5px;
  }
}

.auth-button {
  background-color: $purple;
  color: $lightpink;
}

.sign-out-auth-msg-box {
  text-align: center;
  font-size: 15px;
}

.pswd-msg-box {
  position: relative;
  left: 10px;
}

.landing-buttons {
  text-align: center;
  margin-top: 20px;

  input {
    width: 500px;
    height: 50px;
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid $grey-green;
    background-color: white;
    border-radius: 10px;
    color: $lightpink;
    letter-spacing: .75px;
  }

  .create-button {
    background-color: $blue;
  }

  .index-button {
    background-color: $green;
  }
}

.see-review {
  float: left;
  background-color: $grey-green;
  margin: 10px;
  width: 350px;
  padding: 10px;
  border-radius: 5px;

  button {
    width: 100%;
    background-color: $purple;
    color: $lightpink;
    border: 1px solid $grey-green;
    border-radius: 5px;
  }
}

.close-reviews-button {
  margin: 5px;
  text-align: center;

  button {
    background-color: $green;
    color: $lightpink;
    border-radius: 5px;
    border: 1px solid $grey-green;
    height: 40px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
  }
}

.see-tea {
  background-color: $light-blue;
  padding: 10px;
  margin: 10px;
  float: left;
  width: 300px;

   button {
     width: 100%;
     background-color: $purple;
     color: $lightpink;
     border: 1px solid $grey-green;
     border-radius: 5px;
   }
}

.close-select-tea-button {
  text-align: center;

  .cancel-create {
    background-color: $blue;
    color: $lightpink;
    border: 1px solid $grey-green;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
  }
}

.instructions {
  font-weight: bold;
}
