$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Nunito');


$lightpink: #f9f0f1;
$purple: #774860;
$grey-green: #ced7ce;
$spade: #809c95;
$blue: #617493;
$green: #809c95;
$light-green: #bed5b8;
$light-blue: #cedae7;
$white: #fff;

body {
  background-color: $lightpink;
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
}

.cuppa {
  font-size: 20px;

  img {
    height: 30px;
    margin: 2px;
  }

  span {
    position: relative;
    top: 5px;
  }
}

.signindiv {
  height: 60px;
}

.sign-in {
  margin: 10px;
  position: absolute;
  right: 0;
  top: 0;

  input {
    border: 1px solid $grey-green;
    border-radius: 5px;
    height: 30px;
    letter-spacing: .75px;
    margin: 3px;
    padding-left: 5px;
    width: 230px;
  }
}

.change-pswd {
  margin: 5px;
  position: absolute;
  right: 0;
  top: 30px;

  input {
    border: 1px solid $grey-green;
    border-radius: 5px;
    height: 30px;
    letter-spacing: .75px;
    margin: 3px;
    padding-left: 5px;
    width: 200px;
  }
}

.sign-up {
  margin: auto;
  padding: 10px;
  width: 300px;

  input {
    border: 1px solid $grey-green;
    border-radius: 5px;
    height: 30px;
    letter-spacing: .75px;
    margin: 3px;
    padding-left: 5px;
    width: 250px;
  }
}

.auth-header {
  font-size: 20px;
  text-align: center;
  width: 250px;
}

.auth-input {
  width: 200px;
}

.page-title {
  font-size: 70px;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 70px;
  text-align: center;

  span {
    color: $spade;
    font-size: 55px;
  }
}

.sign-in-auth-msg-box {
  font-size: 15px;
  padding-left: 10px;
}

.sign-up-auth-msg-box {
  font-size: 15px;
  padding-left: 10px;
}

.sign-in-as {
  position: absolute;
  right: 140px;
  top: 0;
}

.sign-out {
  position: absolute;
  right: 10px;
  top: 0;

  input {
    border: 1px solid $grey-green;
    border-radius: 5px;
    height: 30px;
    letter-spacing: .75px;
    margin-top: 5px;
    width: 100px;
  }
}

.new-created {
  text-align: center;
}

.new-update {
  text-align: center;
}

.view-review-notes {
  // display: inline-block;
  height: 70px;
  overflow: auto;
  overflow-wrap: break-word;
  // word-wrap: break-word;
}

.auth-button {
  background-color: $purple;
  color: $lightpink;
}

.sign-out-auth-msg-box {
  font-size: 15px;
  text-align: center;
}

.pswd-msg-box {
  left: 10px;
  position: relative;
}

.landing-buttons {
  margin-top: 20px;
  text-align: center;

  input {
    background-color: $white;
    border: 1px solid $grey-green;
    border-radius: 10px;
    color: $lightpink;
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    letter-spacing: .75px;
    margin: 5px;
    width: 500px;
  }

  .create-button {
    background-color: $blue;
  }

  .index-button {
    background-color: $green;
  }
}

.see-reviews-content {
  text-align: center;
}

.see-review {
  background-color: $grey-green;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  text-align: left;
  width: 350px;

  button {
    background-color: $purple;
    border: 1px solid $grey-green;
    border-radius: 5px;
    color: $lightpink;
    width: 100%;
  }
}

.close-reviews-button {
  margin: 5px;
  text-align: center;

  button {
    background-color: $green;
    border: 1px solid $grey-green;
    border-radius: 5px;
    color: $lightpink;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 150px;
  }
}

.see-teas {
  text-align: center;
}

.see-tea {
  background-color: $light-blue;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  text-align: left;
  width: 300px;

  button {
    background-color: $purple;
    border: 1px solid $grey-green;
    border-radius: 5px;
    color: $lightpink;
    width: 100%;
 }
}

.close-select-tea-button {
  text-align: center;

  .cancel-create {
    background-color: $blue;
    border: 1px solid $grey-green;
    border-radius: 5px;
    color: $lightpink;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 150px;
  }
}

.instructions {
  font-weight: bold;
}

.this-review {
  background-color: $grey-green;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px;
  width: 350px;
  word-break: break-all;

  button {
    background-color: $purple;
    border: 1px solid $grey-green;
    border-radius: 5px;
    color: $lightpink;
    width: 100%;
  }

  .view-review-notes {
    display: table;
  }
}

.delete-review-msg {
  text-align: center;
}

.selected-review {
  background-color: $grey-green;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px;
  width: 350px;

  button {
    background-color: $purple;
    border: 1px solid $grey-green;
    border-radius: 5px;
    color: $lightpink;
    width: 100%;

  }

  .update-input-button {
    background-color: $purple;
    border: 1px solid $grey-green;
    border-radius: 5px;
    color: $lightpink;
    margin-top: 5px;
    width: 100%;
  }
}

.selected-tea {
  background-color: $light-blue;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px;
  width: 350px;

  button {
    background-color: $purple;
    border: 1px solid $grey-green;
    border-radius: 5px;
    color: $lightpink;
    width: 100%;

  }

  .notes {
    height: 50px;
    width: 100%;
  }

  .new-review-button {
    background-color: $purple;
    border: 1px solid $grey-green;
    border-radius: 5px;
    color: $lightpink;
    margin-top: 5px;
    width: 100%;
  }
}

.steep-time {
  width: 50px;
}

.update-error-msg {
  text-align: center;
}

.no-reviews {
  color: darken($green, 5%);
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}
